<div class="container">
  <h1>switchView</h1>

  <h3>a simple task manager to demonstrate my implementation of the NgRx store</h3>
  <hr>
  <h2>Why this app?</h2>

  <p>This is app is developed for my Front-End Engineer application & candidacy at ClickUp. The NgRx Store
  (aka Redux Pattern) is something I’ve understood conceptually, but personally never had to implement.
  <br><br> My hope is this
  app will give validity to my abilities.
  </p>

  <hr>
  <h2>DevOps & Checklist</h2>

  <p><u>Started</u>: 20/10/14 (2:30pm)</p>
  <p><u>Last Updated</u>: 20/10/15 (1:00pm)</p>
  <p>You can view the full project repo & commit history at: <br> <a href="https://github.com/dev-mDavid/switchView/commits/main" target="_blank">github.com/dev-mDavid/switchView/commits/main</a></p>
  <ul>
    <li>✅ start new angular app & add hosting</li>
    <li>✅ create wire frame</li>
    <li>✅ implement ngrx store with mock data</li>
    <li>✅ separate state component concerns with container components and presentation components</li>
    <li>add ui input fields to update the ngrx store</li>
    <li>reformat object interface from mock data to genuine data</li>
    <li>add polishing sass & html touches</li>
  </ul>
  <hr>
  <h2>Docs: Tools & Patterns Used</h2>
  <ul>
    <li>Angular 9 Ivy</li>
    <li>NgRx Store (Redux Pattern)</li>
    <li>RxJS</li>
    <li>Redux DevTools (Chrome Extension)</li>
    <li>Angular Material</li>
    <li>Sass</li>
    <li>Firebase Hosting</li>
    <li>Google Domain Names</li>
    <li>Angular Routing</li>
  </ul>
</div>